# application configurations
NAME    = "Dynamic Framework"
AUTHOR  = "Abdulbasit Rubeiyya"
KEYWORDS = "dynamic Framework, php, smtp, imap, routing"
DESCRIPTION = "Dynamic Framework, a php kit for noobs"

# server configurations
DEBUG   = true

# database Information
DB_HOST = localhost
DB_USER = root
DB_PASS = 
DB_DATA = dynamic

# Mail Information
SMTP_HOST = smtp_relay.google.com
SMTP_USER = your_smtp_username
SMTP_PASS = your_smtp_password
SMTP_NAME = your_sender_name
SMTP_MAIL = send_mail_from
SMTP_PORT = 25/465/587
SMTP_AUTH = ssl/tls

IMAP_HOST = imap.google.com
IMAP_USER = your_imap_username
IMAP_PASS = your_imap_password
IMAP_PORT = 143/193