@import "./video.css";

h2{
    color: #81BC00; 
}
h4{
    color: #191e3a;
}

p{
    margin-bottom: 0 !important;
}

.card-title.text-primary {
    padding: 10px 0 0px 10px;
    font-weight: bold;
    font-size: large;
}

input:disabled {cursor: not-allowed;}

.bootstrap-select .btn {
    border: 1px solid #EEEEEE !important;
    background-color: transparent !important;
    font-weight: 400;
    color: #7e7e7e !important;
    font-size: 11px !important;
}

.pad-1{
    padding: 10px; 
}

.pad-half{
    padding: 5px 10px ; 
}

.space{
    padding: 1rem;
}

.tab-left{
    padding-left: 0.5cm;
}

.bold{
    font-weight: 600;
}

.italic{
    font-style: italic;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 50px;
}

img.play:hover {
    -webkit-animation:spin 0.2s linear 1;
    -moz-animation:spin 0.2s linear 1;
    animation:spin 0.2s linear 1;
}

.preview{
    height: 150px !important;
}

p.card-title.mb-2.text-secondary {
    padding-left: 10px;
}

.content-body{
    padding-bottom: 60px;
    min-height: 0 !important;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.block{
    display: block;
}

.drop-card{
    height: 150px;
}

.drop-image{
    padding: 30px;
}

.dropbox-style{
    position: absolute;
    bottom: 15px;
    left: 150px;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@media(max-width:1024px){
    img.logo-big{
        display: none !important;
    }
}

@media(min-width:1024px){
    img.logo-small{
        display: none !important;
    }
}

@media(max-width:1199px){
    .col-xl-3.video-card {
        width: 33%;
    }
}

@media(max-width:730px){
    .col-xl-3.video-card {
        width: 49%;
    }
}

@media(max-width:500px){
    .col-xl-3.video-card {
        width: 100%;
    }
}