.mobilebar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width:100%;
	border-radius: 10px 10px 0 0;
	height: 60px;
	z-index: 1000;
}
  
.mobilebar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.mobilebar a:hover {
	background: #f1f1f1;
	color: black;
}
  
.mobilebar a.active {
	background-color: #81bc00;
	color: white;
}
  
.main {
	padding: 16px;
	margin-bottom: 30px;
}

.hamburger {
	display: none;
}

.mob-menu{
	margin: auto !important;
}

.menu-text{
	font-size: 10px;
	font-weight: bold;
}

@media(min-width: 1023px) {
	.mobilebar {
	  display: none;
	}
}

@media(max-width: 1023px) {
	.header .header-content {
		height: 100%;
		background: #2a2a2a;
	}

	.nav-link.bell {
		background: aliceblue;
	}

	.header-right .header-profile>a.nav-link .header-info span{
		color: aliceblue;
	}

	.nav-header .brand-logo{
		padding-left: 9px;
	}
}

/* hide on devices with less than 575px width */
@media (max-width: 575px) {
	.desktop {
	  display: none !important;
	}
}

li.mobimenu {
	font-size: 15px;
	font-weight: bold;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e5e5e5;
}